<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<param name="port" value="9090"/>
	</include>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find box_demo)/rviz/box.rviz" />
	<node name="box_broadcaster" pkg="box_demo" type="marker.py" output="screen"/>
</launch>
