<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2014 Google Inc. All Rights Reserved.
  CONFIDENTIAL. AUTHORIZED USE ONLY. DO NOT REDISTRIBUTE.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.ar.core.unityandroidpermissions"
    android:versionCode="0"
    android:versionName="0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

</manifest>