<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
		<param name="port" value="9090"/>
  </include>

  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    
    <arg name="gui" value="true"/>	
    <!-- more default parameters can be changed here -->
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find box)/urdf/box.urdf -urdf -z 0 -model box" />
  <node name="update_pose" pkg="gazebo_simulation_scene" type="update_pose.py" output="screen"/>
  
  
</launch>
