<?xml version="1.0" encoding="utf-8"?>
<robot name="box">
  <material name="Blue">
    <color rgba="0.1741 0.3066 0.8585 1" />
  </material>
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.5" />
      <mass value="1" />
      <inertia ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10" />
    </inertial>
    <visual>
      <geometry>
        <box size="1 1 1" />
      </geometry>
      <material name="Blue" />
    </visual>
    <collision>
      <geometry>
        <box size="1 1 1" />
      </geometry>
    </collision>
  </link>

  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <commandTopic>cmd_vel</commandTopic>
      <odometryTopic>odom</odometryTopic>
      <odometryFrame>odom</odometryFrame>
      <odometryRate>20.0</odometryRate>
      <robotBaseFrame>base_footprint</robotBaseFrame>
    </plugin>
  </gazebo>

</robot>
